---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page_head.html %}
  </head>
  <body>
    {% include navbar.html %}

    {% include carousel.html %}

    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->
    <div class="container marketing">
      <div class="row">
        <!-- Anna's Blurb -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/norway_thumb.jpeg" width="140" height="140">
          <h2>Anna</h2>
          <blockquote class="item-resize">
            <p class="text-justify"><i>
              As I write this incredibly sappy letter, the bride to be is sitting right in front of me... After knowing you for almost 9 years now
              it's safe to say that you are the older sister I never had but really always wanted. (You know, without the arguing about me stealing
              your clothes, shoes, candy, etc.) Without you I'd probably have that pink strand in my hair that every "angsty teen" thinks they can
              rock when they really really can't. From when I was too shy to even say hi to you to the moments where I've been at my worst
              (figuratively speaking the worst for a high school student is her psycho ex boyfriend) you've been there without fail. Jorge is an
              incredibly lucky man but I think I speak for everyone in this family when I say that we're even more lucky... You've become a part of
              us in a way that I can't even explain but you having a key to our house when Jorge doesn't even have one starts to explain that...
              I love you more then you will ever know & cannot wait to be the life of the party at the open bar ;)
            </i></p>
            <footer>The Maid of Honor</footer>
          </blockquote>
        </div>
        <!-- Costa Rica Blurb -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/playa-blanca.jpg" width="140" height="140">
          <h2>Costa Rica</h2>
          <blockquote class="item-resize">
            <p class="text-justify">
              Seems pretty interesting that our first trip destination as boyfriend and girlfriend will also be the first one as husband and wife.
              Gotta love the full circle :)
            </p>
            <footer>Jorge</footer>
          </blockquote>
          <blockquote class="item-resize">
            <p class="text-justify"><i>
              <del>The U.S.</del> Costa Rica is the greatest, best country God has ever given man on the face of the earth.
            </i></p>
            <footer>Sean Hannity</footer>
          </blockquote>
        </div>
        <!-- Jorge's Blurb -->
        <div class="col-lg-4">
          <img class="img-circle" src="img/jorge_crop.jpeg" width="140" height="140">
          <h2>Jorge</h2>
          <blockquote class="item-resize">
            <p class="text-justify"><i>
              Inconspicuous banker by day, mad scientist by night. Jorge is a professional Star Wars LEGO engineer and has built many warplanes.
              He’s been building them ever since he met Anna, his evil lab partner. The two mad scientists came together to design a diabolical
              plan in Costa Rica and they’ve chosen us to be a part of it! Oh, he also likes to read, play Xbox, and build cool things in his free
              time. You can inquire more about his hobbies if you join us in Costa Rica!
            </i></p>
            <footer>The Best Man</footer>
          </blockquote>
        </div>
      </div>

      <!-- START THE FEATURETTES -->
      <hr class="featurette-divider">
      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">So you're flying to Costa Rica. <span class="text-muted">What should you bring?</span></h2>
          <p class="lead">Traveling to another country can be stressful. Let us provide you with some suggestions on what to pack to make sure you enjoy your trip with us! Check out the FAQs for everything you need to know.</p>
          <p><a class="btn btn-default" href="faq.html" role="button">Please, teach me &raquo;</a></p>
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/travel.png" width="500" height="500">
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7 col-md-push-5">
          <h2 class="featurette-heading">Oh wow, I just realized I hate chicken. <span class="text-muted">How will I ever correct my mistakes??</span></h2>
          <p class="lead">Fear not brave traveler! We'll be accepting any changes to meal preferences and RSVP statuses until October 11th. If there's anything you need to change simply follow the magic button.</p>
          <p><a class="btn btn-default" href="guest_list.html" role="button">Here, take this link! &raquo;</a></p>
        </div>
        <div class="col-md-5 col-md-pull-7">
          <iframe class="fixed-resize" frameBorder="0" src="//giphy.com/embed/xT1XGWbE0XiBDX2T8Q"></iframe>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">I'm so excited! <span class="text-muted">What's next?</span></h2>
          <p class="lead">I'm glad you asked. Please <del>double</del> triple check that you've completed the following checklist.
            <ul>
              <li>My passport is up-to-date</li>
              <li>I booked my flights to <mark>SJO</mark> airport by <b>May 31st</b>.</li>
              <li>I made sure to RSVP.</li>
              <li>I decided whether or not to join Jorge and Anna on a week of adventures and shenanigans</li>
            </ul>
            If you've done all of the above, enjoy this gif as your reward
          </p>
          <p>
            <a id="custom_pop" class="btn btn-default" data-toggle="popover" data-placement="above" title="Good job!" data-trigger="focus">
            Oooooh I wonder what this leads to... &raquo;
            </a>
          </p>
          <!-- <div id="popover_content_wrapper">
            <iframe src="//giphy.com/embed/gLMyrDo73F5Xq" width="480" height="360" frameBorder="0"></iframe>
          </div> -->
        </div>
        <div class="col-md-5">
          <img class="featurette-image img-responsive center-block" src="img/passport.jpg">
        </div>
      </div>
      <hr class="featurette-divider">
      <!-- /END THE FEATURETTES -->
      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="index.html">Back to top</a></p>
        <p>November 11th, 2017</p>
      </footer>

    </div><!-- /.container -->
    <!-- Bootstrap Core Javascript -->
    {% include page_footer.html %}
  </body>
</html>
