---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page_head.html %}
  </head>
  <body>
    {% include navbar.html %}

    <div class="container">
      <div class="grid">
        <div class="grid-sizer"></div>
        <div class="grid-item"><img src="img/college.jpg"></div>
        <div class="grid-item--width2"><img src="img/Snapchat-413913298849473336.jpg"></div>
        <div class="grid-item"><img src="img/italy.jpg"></div>
        <div class="grid-item"><img src="img/richmond.jpg"></div>
        <div class="grid-item--width2"><img src="img/norway.jpg"></div>
        <div class="grid-item"><img src="img/mexico.jpg"></div>
        <div class="grid-item"><img src="img/football_game.jpg"></div>
      </div>
    </div>

    {% include page_footer.html %}
  </body>

</html>
