---
---

<!DOCTYPE html>
<html lang="en">
  <head>
    {% include page_head.html %}
  </head>
  <body>
    {% include navbar.html %}
    <div class="row">
    </div>
    <div class="container full-cover">
      <div style='display:table-cell; vertical-align:middle; text-align:center'>
        <a href='https://www.amazon.com/wedding/jorge-murillo-anna-marsakova-san-ramon-november-2017/registry/A0WDP3Q8151F' target='_blank'>
          <img src='https://s3-us-west-2.amazonaws.com/lambda-guestview-screenshots/screenshots/screenshots_guestview_ATVPDKIKX0DER_A0WDP3Q8151F.png' border='1'>
        </a>
      </div>
    </div>
  </body>
</html>
